@media(max-width: 799px) {
    body {
        grid-template-rows: auto auto auto 40px;
        grid-template-columns: 12fr;
        grid-template-areas: "header"
                            "featured_image"
                            "nav"
                            "main"
                            "footer";
    }
    #post-hero {
        height:30vh;
    }

    #post-content {
        line-height: 1.3;
        font-size: 13pt;
        margin-right: 30px;
    }

    figure figcaption {
        font-size: 11pt;
    }

    #full-width {
        width: 100vw;
    }

    /* ------ POST LINK STYLING */
    .post_thumbnail {
        float: left;
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1%;
        margin-bottom: 1%;
        box-shadow: 0 0px 28px 0 rgba(0, 0, 0, 0.2), 0 0px 28px 0 rgba(0, 0, 0, 0.19);
        padding-top: 60%;
        text-align: center;
        border-width: 1px;
        border-color: #F5F5F0;
        border-style: solid;
    }
}

@media(min-width: 800px) {
    body {
        grid-template-rows: 40px auto auto 40px;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-areas: "header header header "
                            "featured_image featured_image featured_image"
                            "nav   main ."
                            "footer footer footer";
    }

    #full-width {
        width: 70vw;
    }

    /* ------ POST LINK STYLING */
    .post_thumbnail {
        float: left;
        position: relative;
        width: 30.7%;
        margin-left: 0.25%;
        margin-right: 0.25%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        border-width: 1px;
        border-color: #F5F5F0;
        border-style: solid;
        border-radius: 5px;
        padding-top: 20%;
        text-align: center;
    }
}

body {
    display: grid;
    background: #F5F5F0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.site_header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.featured_image {
    grid-area: featured_image;
}

footer {
    grid-area: footer;
}

/* ------ BEGIN HEADER SECTION ----- */

.site_header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #222222;
    color: black;
    height: auto;
    position: fixed;
    width: 100vw;
    padding-bottom: 18px;
    padding-top: 18px;
    z-index: 2000;
    box-shadow: 0 0px 28px 0 rgba(0, 0, 0, 0.2), 0 0px 28px 0 rgba(0, 0, 0, 0.19);
}

.site_header .site-links {
    text-align: left;
    float: left;
    margin-left: 40px;
}

.site_header .social-links {
    text-align: right;
    float: right;
    display: table-cell;
    margin-right: 40px;
}

/* ------ Header Navigation menu ----- */

/* ----- Header Links ----- */
.site_header a {
    color: #959595;
    text-decoration: none;
    font-variant: small-caps; 
    font-size: 14pt;
    margin-left: 10px;
    margin-right: 10px;
}

.site_header a:hover {
  cursor: pointer;
  color: #555555;
}

.site_header a:active {
  box-shadow: none;
  top: 5px;
}

/*  ----- HOME PAGE ----- */

#full-width {
    position: relative;
    display: table;
}

.post_thumbnail {
    background: white;
}

.post_thumbnail_image {
    width: 90%;
    height: 60%;
    position: absolute;
    margin-left: auto;
    object-fit: cover;
    margin-right: auto;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
}

.post_thumbnail_title h4 {
    margin: auto;
    font-size: 15pt;  
    line-height: 1.4;
    font-weight: 1.3;
    width: 90%;
    height: 100px;
}

.post_thumbnail a {
    text-decoration: none;
    color: black;
}

.post_thumbnail a:hover .post_thumbnail_image {
    color: black;
    opacity: 0.7;
}

.home-page-posts {
    list-style-type: none;
}
/* ------ END HEADER SECTION ----- */

/* ----- BEGIN POST SECTION ----- */

/* -----  Post Images ----- */

.img-full-width {
    max-height: 80vh;
    display: block;
    margin: 0 auto;
}

.alignfull {
    width: 100vw;
    position: relative;
    display: table;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; 
} 

.alignfull .img-full-width {
    width: 100vw;
    height: 100vh;
    position: relative;
    max-height: 150vh;
}

figure {
    margin-left:auto; 
    margin-right:auto;
    display: table;
    position: relative;
    text-align: center;
}

figure figcaption {
    position: relative;
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 13pt;
    background: #cacac4;
}

/* ----- Post Hero ----- */

#post-hero {
    width: 100vw;
    position: relative;
    height: 60vh;
}

#post-hero .alignfull .img-full-width {
    height: 60vh;   
    display: block;
    object-fit: cover;
}

/* ----- Post Content ----- */

.post-title {
    text-align: center;
    font-size: 30pt;
    font-variant: small-caps;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#post-content {
    line-height: 1.6;
    font-size: 14pt;
}

#post-content p,
#post-content ul, 
#post-content li,
#post-content h1,
#post-content h2,
#post-content h3{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#post-content h2 {
    margin-top: 30pt;
    margin-bottom: 5pt;
}

#post-content blockquote {
    font-style: italic;
    width: 100%;
}

/* ----- END POST SECTION ----- */

/* ----- FOOTER ----- */
footer {
    text-align: center;
}