<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/main.css">
<body>
<div class="site_header">
<header>
    <div class="site-links">    
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/posts/">Blog</a>
    <a href="/contact/">Contact Me</a>
    </div>
    <div class="social-links">
        <a target="_blank" href="https://www.instagram.com/pritamps/">instagram</a>
        <a target="_blank" href="https://www.facebook.com/pritamsukumar/">facebook</a>
        <a target="_blank" href="https://www.twitter.com/pritamps/">twitter</a>
    </div>
</header>
</div>
